

@media(min-width: 960px) {
  .intro-spacer {
    margin-top: 100vh;
  }
}

.body {
  width: 100%;
  height: 100%;
  overflow:hidden;
}

.map-tool--parallax {
  height: 100vh;
  width: 100%;
  overflow:hidden;
}

@media(min-width: 960px) {
  .map-tool--parallax {
    perspective: 2px;
    transform-style: preserve-3d; 
  }
  .map-tool--parallax .section.section--intro {
    top: 0;
    transform: translateZ(-1px) scale(1.51);
    z-index: -1;
  }
}